body,
html,
#s4-bodyContainer,
#contentRow,
#contentBox,
#DeltaPlaceHolderMain,
div[data-name="WebPartZone"],
div[data-name="WebPartZone"] > div,
.ms-webpart-zone.ms-fullWidth,
.s4-wpcell-plain.ms-webpartzone-cell.ms-webpart-cell-vertical.ms-fullWidth,
.ms-webpart-chrome.ms-webpart-chrome-vertical.ms-webpart-chrome-fullWidth,
.ms-WPBody.noindex,
.ms-rtestate-field,
#root {
  height: 100%;
}

#root {
  margin: 0;
  max-width: 1250px;
}

#pageTitle {
  display: none;
}

.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  float: inherit;
}

.nzbs-people-picker div.input {
  width: inherit;
}
